body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem 0;
}

.manga {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image {
    width: 30%;
    margin: 0 auto;
}